# https://marketplace.gohighlevel.com/docs/ghl/email-isv/email-verification

Documentation for Email ISV API

[

## 📄️ Email Verification

Verify Email

](/docs/ghl/email-isv/verify-email)
